body {
  background-image: url('/assets/images/bridge1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .column {
    text-align: center;
    width: 100%;
    background-color: #a065ff;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0ccff;
  }

  .column {
    text-align: center;
    width: 50%;
    background-color: #a065ff;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.menus {
  display: flex;
  list-style: none;
}

.menus li {
  margin-right: 20px;
  border: 2px solid black;
}

.menus li:last-child {
  margin-right: 0;
}